{
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "jest/globals": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  },
  "plugins": [
    "jest",
    "react",
    "react-native"
  ],
  "settings": {
    "import/core-modules": [
      "resolveAssetSource"
    ],
    "import/parser": "babel-eslint",
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ios.js",
          ".android.js"
        ]
      }
    }
  },
  "globals": {
    "fetch": false
  },
  "rules": {
    "arrow-body-style": "off",
    "array-bracket-spacing": "off",
    "arrow-parens": "off",
    "camelcase": "off",
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "func-names": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "test/**",
          "tests/**",
          "**/__tests__/**",
          "test.{js,jsx}",
          "test-*.{js,jsx}",
          "**/*.{test,spec}.{js,jsx}",
          "**/jest.config.js",
          "test/**/*.js",
          "test/setup.js",
        ],
        "optionalDependencies": false
      }
    ],
    "import/imports-first": "off",
    "import/no-unresolved": "off",
    "no-console": "off",
    "no-else-return": "off",
    "no-return-assign": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "warn",
    "no-use-before-define": "off",
    "operator-linebreak": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-no-bind": "off",
    "react/prefer-stateless-function": "warn",
    "react/prop-types": "off",
    "semi": [
      "error",
      "never"
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ]
  }
}
